

/* Buttons
=============== */

.btn-default {
    background-color: black;
    font-size: var(--fs-md);
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    padding:14px 56px;
    color:white;
}

.btn-small {
    background-color: black;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    padding:7px 28px;
    color:white;
}

@media screen and (max-width:560px) {
    .btn-default {
        padding: 14px 36px;
    }
}

/* Links 
=============== */

.link-default {
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding:14px 56px;
}

#skip-link {
    position: absolute;
    z-index: 9999;
    left:-999rem;
}

#skip-link:focus , #skip-link:active {
    left:0rem;
    background-color: white;
    color:red;
}

/* Text 
=============== */

.title {
    font-size: var(--fs-xxl);
    padding-bottom: var(--spacing-sm);
}

.subtitle {
    font-size: var(--fs-xl);
    padding-bottom: var(--spacing-sm);
}

.subtitle-2 {
    font-size: var(--fs-md);
    padding-bottom: var(--spacing-sm);
}

.text {
    font-size: var(--fs-sm);
    color:rgba(0,0,0,0.75); 
    line-height: 140%;
}

.text-light {
    color:var(--gray);
}

/* Containers , sections
=============== */

.section {
    display: flex;
    max-width: 1250px;
    padding:0 var(--spacing-md);
    margin: var(--spacing-lg) auto 0 auto;  
    justify-content: space-between;
    align-items: center;
}

.inner {
    max-width: 1250px;
    padding:0 var(--spacing-md);
    margin: var(--spacing-lg) auto 0 auto;  
    gap:var(--spacing-md);
}

@media (max-width:1250px) {
    .section {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .section .content {
        order:1;
        max-width: 640px;
    }
    .section .content , .section .preview {
        margin:0 auto;
    }
}

.options-list {
    display: none;
    background-color: white;
    min-width: 150px;
    border-radius: 16px;
    padding:0.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    z-index: 999;
    top:0.75rem;
    right:0rem;
    gap:0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.dropdown-menu > .options-list {
    display: none;
}

.dropdown-menu:hover > .options-list {
    display: block;
}



/* Flexbox
=============== */

.flex-spaceBetween-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start-center {
    display: flex;
    align-items: center;
}

.flex-start-start-column {
    display: flex;
    flex-direction: column;
}

.flex-spaceBetween-center {
    display: flex;
    justify-content:space-between;
    align-items: center;
}