
#homepage {
    display: flex;
    max-width: 1250px;
    padding:0 var(--spacing-md);
    margin: var(--spacing-lg) auto 0 auto;  
    justify-content: space-between;
    align-items: center;
}

#homepage .content {
    max-width: 640px;
}

#homepage .title {
    font-size: var(--fs-xxl);
    padding-bottom: var(--spacing-sm);
}

#homepage .text {
    line-height: 140%;
    padding-bottom: var(--spacing-sm);
    font-size:var(--fs-sm);
}

#homepage .buttons {
    display: flex;
    gap:var(--spacing-sm);
}

@media (max-width:780px){
    #homepage .preview {
        display: none;
    }
}