
#header {
    max-width: 1250px;
    margin:0 auto;
}

#header .nav {
    display: flex;
    justify-content: space-between;
}

#header .links {
    display: flex;
    gap:var(--spacing-sm);
    list-style-type: none;
}