
.btn-default {
    background-color: black;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    padding:14px 56px;
    box-shadow:0 4px 14px 0 rgb(0 0 0 / 30%);
    color:white;
}

.btn-small {
    background-color: black;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    padding:7px 28px;
    box-shadow:0 4px 14px 0 rgb(0 0 0 / 30%);
    color:white;
}

.link-default {
    color: black;
    font-weight: 700;
    font-size: 16px;
    padding:14px 56px;
}

.text {
    line-height: 140%;
}

.text-light {
    color:var(--gray);
}